<?xml version='1.0' encoding='utf-8'?>
<widget id="com.geoks.topinsight" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Topinsight</name>
    <description>
        Tracking Application
    </description>
    <author email="matthieu.comperat@gmail.com" href="http://mcomper.at">
        Geoks Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="land-hdpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-ldpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-mdpi" src="res/screen/android/splashscreen.png" />
        <splash density="land-xhdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-hdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-ldpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-mdpi" src="res/screen/android/splashscreen.png" />
        <splash density="port-xhdpi" src="res/screen/android/splashscreen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="assets/img/splashscreen.png" />
        <preference name="SplashScreenWidth" value="375" />
        <preference name="SplashScreenHeight" value="667" />
    </platform>
    <engine name="ios" spec="~4.3.1" />
    <engine name="android" spec="~6.0.0" />
    <engine name="browser" spec="~4.1.0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashScreenBackgroundColor" value="#FFF" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-browsersync" spec="~0.1.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-ble-central" spec="~1.1.4">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Topinsight" />
    </plugin>
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="~2.2.5">
        <variable name="ACCOUNT_TYPE" value="$PACKAGE_NAME.account" />
        <variable name="CONTENT_AUTHORITY" value="$PACKAGE_NAME" />
        <variable name="ALWAYS_USAGE_DESCRIPTION" value="Cette application nécessite un suivi de la géolocalisation en arrière-plan" />
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.1" />
</widget>
