.button {
    &--green {
        background-color: @green;
    }
    &--round {
        vertical-align: top;
        width: 88px;
        height: 88px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
}