a {
    text-decoration: none;
}

.logo {
    margin: 40px 54px;
    &--splashscreen {
        margin-top: 175px;
    }
    &__image {
        max-width: 100%;
    }
}

.app {
    margin-top: @size-header;
}