.form {
    padding: 5% 15% 4%;
}
.input {
    position: relative;
    width: 100%;
    padding: 30px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    &__element {
        width: 100%;
        -webkit-appearance: none;
        -webkit-text-fill-color: @brandcolor;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        outline: 0;
        margin: 0;
        padding: 1px 0 1px 0;
        font-family: @OpenSansLight;
        color: @brandcolor;
        border: 0;
        border-bottom: 1px solid @brandcolor;
        border-radius: 0;
        background-color: @white;
        select&{
            height: 27px;
        }
    }
    &__label {
        font-family: @OpenSansLight;
        color: @brandcolor;
        line-height: 24px;
        font-size: 14px;
        margin-top: 5px;
        float: right;
        &--link {
            text-align: center;
            text-decoration: underline;
            margin-top: 10%;
        }
    }
}