/* Fonts */
@font-face {
    font-family: "OpenSans-Semibold";
    src: url('../assets/fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: "OpenSans-Light";
    src: url('../assets/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: "LiquidCrystal-Normal";
    src: url('../assets/fonts/LiquidCrystal-Normal.otf');
}

@Helvetica: Helvetica, Arial, sans-serif;
@HelveticaBold: "Helvetica-Bold", Helvetica, Arial, sans-serif;
@OpenSansSemibold: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
@OpenSansLight: "OpenSans-Light", Helvetica, Arial, sans-serif;
@LiquidCrystal: "LiquidCrystal-Normal", Helvetica, Arial, sans-serif;

/* Colors */
@white: #FFF;
@green: #00BFA5;
@grey: #9B9B9B;
@facebook: #3b5998;
@twitter: #55acee;
@red: red;

/* Sizes */
@size-header: 55px;